[submodule "Frameworks/QLog"]
	path = Frameworks/QLog
	url = https://github.com/QuantumApplications/QLog.git
[submodule "Frameworks/Alamofire"]
	path = Frameworks/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
